<div class="sidebar">
    <div class="sidebar__title">
        <h4>CÔNG TY PHÁT HÀNH</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let publisher of publishers">{{ publisher }}</li>
    </ul>
    <div class="sidebar__title">
        <h4>TÁC GIẢ</h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let author of authors">{{ author }}</li>
    </ul>

    <!-- class -->
    <!-- <div class="border-red background-yellow">
      1. normal class
    </div>
    <div [class.border-red]="isEnableClass" [class.background-yellow]="isEnableClass">
      2. class condition
    </div> -->

    <!-- ngClass -->
    <!-- <div [class]="'border-red background-yellow'">
      3. class variable
    </div>
    <div [class]="['border-red','background-yellow']">
      4. class array
    </div>
    <div [class]="{'border-red': isEnableClass, 'background-yellow': isEnableClass}">
      5. class object single key
    </div>
    <div [ngClass]="{'border-red background-yellow': isEnableClass}">
      5. class object multi key -> only ngClass
    </div> -->

    <!-- style -->
    <!-- <div style="background-color: royalblue;">
      1. normal style
    </div>
    <div [style.border]="'solid 1px blue'">
      2. style variable
    </div>
    <div [style.font-size]="'16px'">
      3. style variable
    </div>
    <div [style.fontSize]="'16px'">
      4. style variable
    </div>
    <div [style.font-size.px]="'16'">
      5. style variable unit
    </div> -->

    <!-- ngStyle -->
    <!-- <div [style]="{'font-size': isEnableClass ? '16px' : '18px'}">
      6. style object
    </div>
    <div [ngStyle]="{'fontSize.px': isEnableClass ? 16 : 18}">
      7. style variable unit -> only ngStyle not style
    </div> -->


</div>
