<!-- header -->
<app-header></app-header>

<!-- body -->
<div class="container">
  <!-- <app-product-list #productList (selectProduct)="handleSelectedProduct($event)"></app-product-list>
  <app-product-detail [productId]="selectedProductId"></app-product-detail>
  <app-shopping-cart></app-shopping-cart>
  <app-shipping-form></app-shipping-form>
  <app-check-out></app-check-out>
  <app-order-success></app-order-success>
  <app-my-orders></app-my-orders> -->
  <app-admin-product-list></app-admin-product-list>
</div>

<!-- footer -->
<app-footer></app-footer>

<app-login></app-login>
<app-register></app-register>
