<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 15px;">
    <i class="tikicon icon-tiki_short"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">English Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sách tiếng Việt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quà lưu niệm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Văn phòng phẩm</a>
        </li>
      </ul>

      <div class="form-inline my-2 my-lg-0">
        <div class="collapse navbar-collapse nav-control" id="navbar">
          <i class="tikicon icon-tracking"></i>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Theo dõi<br>đơn hàng
              </a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse nav-control notification-box" id="navbar">
          <i class="tikicon icon-notification"></i>
          <span class="notification-count">3</span>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Thông báo<br>của tôi
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item notify-item" href="#" [title]="notify[0].content">
                  <div class="icon"><img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/discount.png"></div>
                  <div class="notify-content"><span class="content">{{notify[0].content}}</span><span class="date">{{notify[0].date}}</span></div>
                </a>
                <a class="dropdown-item notify-item" href="#" [title]="notify[0].content">
                  <div class="icon"><img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/discount.png"></div>
                  <div class="notify-content"><span class="content">{{notify[0].content}}</span><span class="date">{{notify[0].date}}</span></div>
                </a>
                <a class="dropdown-item notify-item" href="#" [title]="notify[0].content">
                  <div class="icon"><img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/discount.png"></div>
                  <div class="notify-content"><span class="content">{{notify[0].content}}</span><span class="date">{{notify[0].date}}</span></div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" style="text-align: center;">Xem tất cả thông báo</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse nav-control" id="navbar">
          <i class="tikicon icon-user"></i>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Đăng nhập <br> tài khoản
              </a>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse nav-control" id="navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chào<br>{{ user.firstName + ' ' + user.lastName }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Đơn hàng của tôi</a>
                <a class="dropdown-item" href="#">Tài khoản của tôi</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Thoát tài khoản</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse nav-control" id="navbar">
          <i class="tikicon icon-cart"></i>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <span class="nav-link">
                Giỏ hàng
                <span class="cart-count">1</span>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- slideshow -->
<div class="container home-slideshow">
  <div id="home-slideshow" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://salt.tikicdn.com/cache/w885/ts/banner/79/7d/85/486a93958783eaaa7fc068abcc748494.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://salt.tikicdn.com/cache/w885/ts/banner/4e/42/ef/1eb00e060e17cf3bf0553fac0c969237.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://salt.tikicdn.com/cache/w885/ts/banner/6f/8c/92/aac5233d52ccd22685f263e7717c8f58.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#home-slideshow" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#home-slideshow" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!-- product-list -->
<div class="container">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div class="sidebar__title">
        <h4>CÔNG TY PHÁT HÀNH</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item">MCBOOKS</li>
        <li class="list-group-item">Alphabooks</li>
        <li class="list-group-item">NXB Bản Kim Đồng</li>
        <li class="list-group-item">NXB Trẻ</li>
        <li class="list-group-item">Nhã Nam</li>
      </ul>
      <div class="dropdown-divider"></div>
      <div class="sidebar__title">
        <h4>TÁC GIẢ</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Nhiều tác giả</li>
        <li class="list-group-item">The Windy</li>
        <li class="list-group-item">Nguyễn Nhật Ánh</li>
        <li class="list-group-item">Eiichiro Oda</li>
        <li class="list-group-item">Fujiko F Fujio</li>
      </ul>
      <div class="dropdown-divider"></div>
      <div class="sidebar__title">
        <h4>NHÀ CUNG CẤP</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Tiki Trading</li>
        <li class="list-group-item">GOLD BOOK</li>
        <li class="list-group-item">AZ Book</li>
        <li class="list-group-item">Time Books</li>
      </ul>
    </div>
    <div class="col-md-10 product-list">
      <nav class="product-list__option-box navbar navbar-expand-lg">
        <div class="navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Hàng mới <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Bán chạy <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Giảm giá nhiều <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="product-list__product-list-box">
        <div class="row">
          <div class="col-md-3">
            <div class="product-item">
              <div class="content">
                <span class="image">
                  <img class="product-image img-responsive"
                    src="https://salt.tikicdn.com/cache/280x280/ts/product/ca/c9/70/743112ce044389f3155b72bb2629ca2f.jpg"
                    alt="">
                </span>
                <p class="title">
                  <i class="tikicon icon-tikinow"></i>
                  Guinness World Records 2019: Wild Things...
                </p>
                <p class="author">Guinness World Records</p>
                <p class="price-sale">
                  <span class="final-price">
                    197.050đ <span class="sale-tag sale-tag-square">-40%</span>
                  </span>
                  <span class="price-regular">330.000đ</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item">
              <div class="content ">
                <span class="image">
                  <img class="product-image img-responsive"
                    src="https://salt.tikicdn.com/cache/280x280/ts/product/ca/c9/70/743112ce044389f3155b72bb2629ca2f.jpg"
                    alt="">
                </span>
                <p class="title">
                  <i class="tikicon icon-tikinow"></i>
                  Guinness World Records 2019: Wild Things...
                </p>
                <p class="author">Guinness World Records</p>
                <p class="price-sale">
                  <span class="final-price">
                    197.050đ <span class="sale-tag sale-tag-square">-40%</span>
                  </span>
                  <span class="price-regular">330.000đ</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item">
              <div class="content ">
                <span class="image">
                  <img class="product-image img-responsive"
                    src="https://salt.tikicdn.com/cache/280x280/ts/product/ca/c9/70/743112ce044389f3155b72bb2629ca2f.jpg"
                    alt="">
                </span>
                <p class="title">
                  <i class="tikicon icon-tikinow"></i>
                  Guinness World Records 2019: Wild Things...
                </p>
                <p class="author">Guinness World Records</p>
                <p class="price-sale">
                  <span class="final-price">
                    197.050đ <span class="sale-tag sale-tag-square">-40%</span>
                  </span>
                  <span class="price-regular">330.000đ</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item">
              <div class="content ">
                <span class="image">
                  <img class="product-image img-responsive"
                    src="https://salt.tikicdn.com/cache/280x280/ts/product/ca/c9/70/743112ce044389f3155b72bb2629ca2f.jpg"
                    alt="">
                </span>
                <p class="title">
                  <i class="tikicon icon-tikinow"></i>
                  Guinness World Records 2019: Wild Things...
                </p>
                <p class="author">Guinness World Records</p>
                <p class="price-sale">
                  <span class="final-price">
                    197.050đ <span class="sale-tag sale-tag-square">-40%</span>
                  </span>
                  <span class="price-regular">330.000đ</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item">
              <div class="content ">
                <span class="image">
                  <img class="product-image img-responsive"
                    src="https://salt.tikicdn.com/cache/280x280/ts/product/ca/c9/70/743112ce044389f3155b72bb2629ca2f.jpg"
                    alt="">
                </span>
                <p class="title">
                  <i class="tikicon icon-tikinow"></i>
                  Guinness World Records 2019: Wild Things...
                </p>
                <p class="author">Guinness World Records</p>
                <p class="price-sale">
                  <span class="final-price">
                    197.050đ <span class="sale-tag sale-tag-square">-40%</span>
                  </span>
                  <span class="price-regular">330.000đ</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item">
              <div class="content ">
                <span class="image">
                  <img class="product-image img-responsive"
                    src="https://salt.tikicdn.com/cache/280x280/ts/product/ca/c9/70/743112ce044389f3155b72bb2629ca2f.jpg"
                    alt="">
                </span>
                <p class="title">
                  <i class="tikicon icon-tikinow"></i>
                  Guinness World Records 2019: Wild Things...
                </p>
                <p class="author">Guinness World Records</p>
                <p class="price-sale">
                  <span class="final-price">
                    197.050đ <span class="sale-tag sale-tag-square">-40%</span>
                  </span>
                  <span class="price-regular">330.000đ</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item">
              <div class="content ">
                <span class="image">
                  <img class="product-image img-responsive"
                    src="https://salt.tikicdn.com/cache/280x280/ts/product/ca/c9/70/743112ce044389f3155b72bb2629ca2f.jpg"
                    alt="">
                </span>
                <p class="title">
                  <i class="tikicon icon-tikinow"></i>
                  Guinness World Records 2019: Wild Things...
                </p>
                <p class="author">Guinness World Records</p>
                <p class="price-sale">
                  <span class="final-price">
                    197.050đ <span class="sale-tag sale-tag-square">-40%</span>
                  </span>
                  <span class="price-regular">330.000đ</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item">
              <div class="content ">
                <span class="image">
                  <img class="product-image img-responsive"
                    src="https://salt.tikicdn.com/cache/280x280/ts/product/ca/c9/70/743112ce044389f3155b72bb2629ca2f.jpg"
                    alt="">
                </span>
                <p class="title">
                  <i class="tikicon icon-tikinow"></i>
                  Guinness World Records 2019: Wild Things...
                </p>
                <p class="author">Guinness World Records</p>
                <p class="price-sale">
                  <span class="final-price">
                    197.050đ <span class="sale-tag sale-tag-square">-40%</span>
                  </span>
                  <span class="price-regular">330.000đ</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&lt;</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">&gt;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- product-detail -->
<div class="container" style="margin-top: 15px;">
  <div class="row product-detail">
    <div class="col-md-5">
      <img class="product-image"
        src="https://salt.tikicdn.com/cache/280x280/ts/product/ca/c9/70/743112ce044389f3155b72bb2629ca2f.jpg" alt="">
    </div>
    <div class="col-md-7">
      <div>
        <div class="header border-bottom">
          <h1 class="title">Guinness World Records 2019: Wild Things
            (Paperback)</h1>
          <div class="brand">
            <span class="author">Tác giả: <a href="#">Guinness World Records</a></span>
            <span class="sku">SKU: 3636345341125</span>
          </div>
        </div>
        <div class="body">
          <div class="group">
            <p class="price">197.050₫</p>
            <p class="original-price first-child">Tiết kiệm: <span>40%</span> (132.950₫)</p>
            <p class="original-price">Giá thị trường:330.000₫</p>
          </div>
          <div class="group border-top quanity-buy-favorite">
            <div class="quanity">
              <p class="label">Số lượng:</p>
              <div class="group-input">
                <button>-</button>
                <input type="text" value="1"class="input">
                <button>+</button>
              </div>
            </div>
            <div class="group-button buy-favorite">
              <button class="btn btn-add-to-cart">
                <span class="tikicon icon-add-to-cart2x" style="margin-right: 5px;"></span>Chọn mua
              </button>
              <button class="btn-add-favorite" title="Thêm vào yêu thích">
                <i class="far fa-heart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 detail-info">
      <h3>Thông tin chi tiết</h3>
      <table class="table table-bordered" style="width: 50%;">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td>Công ty phát hành</td>
            <td>Macmillan Publishers</td>
          </tr>
          <tr>
            <td>Nhà xuất bản</td>
            <td>MacMillan Publishers</td>
          </tr>
          <tr>
            <td>Ngày xuất bản</td>
            <td>11-2018</td>
          </tr>
          <tr>
            <td>Kích thước</td>
            <td>190 x 264 x 11 mm</td>
          </tr>
          <tr>
            <td>Số trang</td>
            <td>216</td>
          </tr>
          <tr>
            <td>SKU</td>
            <td>5664252449298</td>
          </tr>
        </tbody>
      </table>
      <h3>MÔ TẢ SẢN PHẨM</h3>
      <div>
        <p>Whether it's the biggest, the smallest, the fastest, the deadliest or just the downright weirdest, Guinness World Records: Wild Things turns the spotlight on the best of the beasts!</p>
        <p>From gentle giants to killer bugs, powerful predators to cunning prey, and backyard wildlife to species on the brink, the animal kingdom is crawling with record-breakers. Wild Things is your ultimate guide to nature's super-star animals.</p>
        <p>There's a special chapter all about prehistoric record-breakers, too. Unearth which ancient animals ruled over the real Jurassic world, from the tallest dinosaur and the dino with the most powerful bite to the largest flying creature ever to soar Earth's skies - with a wingspan the size of an F-16 jet!</p>
        <p>You'll also hear from zoology experts and some of the biggest conservation stars including Sir David Attenborough, Dame Jane Goodall, the Irwin family and Deadly 60's Steve Backshall. They share their standout wildlife experiences and favourite record-breaking animals, as well as top tips for anyone hoping to follow in their footsteps.</p>
        <p>Ready to find out where the real wild things are - and the records that they hold? Then it's time to unleash the wildest GWR book yet!</p><p>Giá sản phẩm trên Tiki đã bao gồm thuế theo luật hiện hành. Tuy nhiên tuỳ vào từng loại sản phẩm hoặc phương thức, địa chỉ giao hàng mà có thể phát sinh thêm chi phí khác như phí vận chuyển, phụ phí hàng cồng kềnh, ...</p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div style="margin-top: 15px;">Copyright</div>
</footer>
