<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Đăng ký</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
                <label for="registerInputName">Họ tên</label>
                <input type="text" class="form-control" id="registerInputName">
            </div>
            <div class="form-group">
              <label for="registerInputEmail">Email</label>
              <input type="email" class="form-control" id="registerInputEmail">
            </div>
            <div class="form-group">
                <label for="registerInputMobile">Số điện thoại</label>
                <input type="text" class="form-control" id="registerInputMobile">
            </div>
            <div class="form-group">
              <label for="registerInputPassword">Mật khẩu</label>
              <input type="password" class="form-control" id="registerInputPassword">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Tạo tài khoản</button>
        </div>
      </div>
    </div>
  </div>