<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Đăng ký</h5>
          <button #btnCloseModal (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="isLoading" style="text-align: center;">
            <app-loading></app-loading>
          </div>
          <form [formGroup]="registerForm" novalidate>
            <div *ngIf="error" class="badge badge-danger summary-errors">
              {{ error }}
            </div>
            <div class="form-group">
                <label for="registerInputName">Họ tên</label>
                <input formControlName="name" type="text" class="form-control" id="registerInputName">
                <div *ngIf="registerForm.controls.name.touched
                  && registerForm.controls.name.errors?.required"
                  class="invalid-feedback">Please provide a fullname.
                </div>
                <div *ngIf="registerForm.controls.name.touched && registerForm.controls.name.hasError('forbiddenName')" class="invalid-feedback">
                  Please don't use a fullname with 'admin'.
                </div>
            </div>
            <div class="form-group">
              <label for="registerInputEmail">Email</label>
              <input formControlName="email" type="email" class="form-control" id="registerInputEmail">
              <div class="invalid-feedback">Please provide an email.</div>
            </div>
            <div class="form-group">
                <label for="registerInputMobile">Số điện thoại</label>
                <input formControlName="mobile" type="text" class="form-control" id="registerInputMobile">
                <div class="invalid-feedback">Please provide a mobile.</div>
            </div>
            <div class="form-group">
              <label for="registerInputPassword">Mật khẩu</label>
              <input formControlName="password" type="password" class="form-control" id="registerInputPassword">
              <div *ngIf="registerForm.controls.password.touched
                && registerForm.controls.password.errors?.required"
                class="invalid-feedback">Please provide a password.
              </div>
              <div *ngIf="registerForm.controls.password.touched && registerForm.controls.password.hasError('minlength')" class="invalid-feedback">
                The password must be at least {{ registerForm.controls.password.errors.minlength.requiredLength }} characters.
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="registerForm.invalid" (click)="register()">Tạo tài khoản</button>
        </div>
      </div>
    </div>
  </div>
