<div class="product-item">
    <div class="content">
      <span class="image">
          <img class="product-image img-responsive"
          [src]="product.imageUrl"
          [alt]="product.title">
      </span>
      <p class="title">
          <i class="tikicon icon-tikinow" *ngIf="product.isTikiNow"></i>
          {{ product.title | titlecase }}
      </p>
      <p class="author">{{ product.author }}</p>
      <p class="price-sale">
          <span class="final-price">
          {{ product.finalPrice | price }} <span class="sale-tag sale-tag-square">{{ product.finalPrice | discount:product.regularPrice:'-' }}</span>
          </span>
          <span class="price-regular">{{ product.regularPrice | price }}</span>
      </p>
    </div>
</div>
