<div class="product-item">
    <div class="content">
    <span class="image">
        <img class="product-image img-responsive"
        [src]="product.imageUrl"
        alt="">
    </span>
    <p class="title">
        <i class="tikicon icon-tikinow"></i>
        {{ product.title }}
    </p>
    <p class="author">{{ product.author }}</p>
    <p class="price-sale">
        <span class="final-price">
        197.050đ <span class="sale-tag sale-tag-square">-40%</span>
        </span>
        <span class="price-regular">330.000đ</span>
    </p>
    </div>
</div>
