<div class="product-item">
    <div class="content">
    <span class="image">
        <img class="product-image img-responsive"
        [src]="product.imageUrl"
        [alt]="product.title">
    </span>
    <p class="title">
        <i class="tikicon icon-tikinow" *ngIf="product.isTikiNow"></i>
        <i *ngIf="!product.isTikiNow">No tikinow</i>

        <!-- <i class="tikicon icon-tikinow" *ngIf="product.isTikiNow else noTikinow"></i>
        <ng-template #noTikinow>
          <i>No tikinow</i>
        </ng-template> -->

        <!-- <ng-template [ngIf]="product.isTikiNow" [ngIfElse]="noTikinow">
          <i class="tikicon icon-tikinow"></i>
        </ng-template>
        <ng-template #noTikinow>
          <i>No tikinow</i>
        </ng-template> -->

        <!-- <i class="tikicon icon-tikinow" [hidden]="product.isTikiNow"></i>
        <i [hidden]="!product.isTikiNow">No tikinow</i> -->

        {{ product.title }}
    </p>
    <p class="author">{{ product.author }}</p>
    <p class="price-sale">
        <span class="final-price">
        {{ product.finalPrice }}đ <span class="sale-tag sale-tag-square">-{{ (product.finalPrice*100/product.regularPrice).toFixed() }}%</span>
        </span>
        <span class="price-regular">{{ product.regularPrice }}đ</span>
    </p>
    </div>
</div>
