<div class="cart fit-body">
    <div class="row cart-products">
        <div class="col-md-9">
            <h2 class="cart-products__title">
                Giỏ hàng <span class="cart-products__count">(2 sản phẩm)</span>
            </h2>
            <div class="row cart-products__products">
                <div class="col-md-2">
                    <div class="cart-products__img">
                        <a href="#">
                            <img src="https://salt.tikicdn.com/cache/200x200/ts/product/ca/c9/70/743112ce044389f3155b72bb2629ca2f.jpg"
                                alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="cart-products__content">
                        <div class="cart-products__desc">
                            <div>
                                <a class="cart-products__name" href="#">
                                    Guinness World Records 2019: Wild Things (Paperback)
                                </a>
                                <p class="cart-products__author">
                                    <span> Tác giả: </span><a href="#">Guinness World Records</a>
                                </p>
                            </div>
                            <p class="cart-products__actions">
                                <span class="cart-products__del">Xóa</span>
                                <span class="cart-products__buy-later">Để dành mua sau</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="cart-products__details">
                        <div class="cart-products__pricess">
                            <p class="cart-products__real-prices">197.050đ</p>
                            <p class="cart-products__discount-prices">
                                <del>330.000đ</del>
                                <span class="cart-products__percent-prices"> | -40%</span>
                            </p>
                        </div>
                        <app-quantity></app-quantity>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="cart-total-prices">
                <div class="cart-total-prices__inner">
                    <div class="prices">
                        <p class="prices__total">
                            <span class="prices__text">Thành tiền</span>
                            <span class="prices__value">394.100đ</span>
                        </p>
                    </div>
                    <button type="button" class="btn-order">Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>