<div class="fit-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.title }}</td>
        <td>{{ p.author }}</td>
        <td>{{ p.publisher }}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="viewDetail(p)">Detail</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-admin-product-detail [product]="selectedProduct"></app-admin-product-detail>
</div>
