<div class="fit-body">
  <div style="text-align: right; padding-bottom: 15px;">
    <button type="button" class="btn btn-primary" (click)="isAdding = !isAdding">Add Product</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.title }}</td>
        <td>{{ p.author }}</td>
        <td>{{ p.publisher }}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="viewDetail(p)">Detail</button>
          <button type="button" class="btn btn-success" (click)="editProduct(p)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteProduct(p)" data-toggle="modal" data-target="#popupConfirm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-admin-product-detail [product]="selectedProduct"></app-admin-product-detail>
  <app-admin-product-form *ngIf="isAdding"></app-admin-product-form>
  <app-admin-product-reactive-form [product]="selectedProduct" *ngIf="isEditting"></app-admin-product-reactive-form>
</div>
